body {
    font-family: Arial, sans-serif;
    background-image: url('uwa-banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #0078d4;
}

form {
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    padding: 8px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    padding: 8px 12px;
    background-color: #0078d4;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #005a9e;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#logo {
    max-width: 200px;
    display: block;
    margin: 0 auto 20px; /* Center the logo and add some space below */
}

#underLink {
    text-align: center;
    color: #ff992d;
}

p {
    text-align: center;
}