body {
    font-family: Arial, sans-serif;
    background-image: url('../img/uwa-banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(141 202 167);
    border: 10px solid rgb(12, 96, 47);
    border-radius: 30px;
}

.outercontainter {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    background-color: rgb(74, 145, 103);
    border: 10px solid rgb(190, 229, 206);
    border-radius: 30px;
}

.containerform {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(190, 229, 206);
    border: 10px solid rgb(52, 135, 87);
    border-radius: 30px;
}

h1,
h2 {
    margin-bottom: 2%;
    /* Adjust the value for desired space */
}

h2,
form {
    margin-bottom: 3%;
    /* Adjust the value for desired space */
}

h1 {
    color: rgb(12, 96, 47);
    font-weight: 600;
}

h2 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

form {
    margin-bottom: 20px;
}

label {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#username {
    border: 3px solid rgb(57, 130, 87);
    border-radius: 10px;
}

#password {
    border: 3px solid rgb(57, 130, 87);
    border-radius: 10px;
}

#password2 {
    border: 3px solid rgb(57, 130, 87);
    border-radius: 10px;
}


#email {
    border: 3px solid rgb(57, 130, 87);
    border-radius: 10px;
}


#submit {
    background-color: rgb(74, 145, 103);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 90px;
    padding-right: 90px;
    border: 3px solid rgb(54, 121, 81);
    border-radius: 15px;
    color: white;
    font-weight: 400;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#submit:hover {
    transform: scale(1.07);

}

input[type="text"],
input[type="password"] {
    padding: 8px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    padding: 8px 12px;
    background-color: #0078d4;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #005a9e;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    color: red;
}

#logo {
    max-width: 200px;
    display: block;
    margin: auto;
    /* Center the logo and add some space below */
}

#underLink {
    text-align: center;
    color: blue;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#underLink {
    text-align: center;
    color: blue;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a#underLink:hover {
    transform: scale(1.07);
}

p {
    text-align: center;

}