<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Local Community Message Board</title>
    <link rel="stylesheet" href="../static/UWAstyles2.css">
</head>
<body>    
    <div class="container">
        <img src="../static/img/UWA University of Western Australia.png" alt="Logo" id="logo", width="200px", class="center">
        <h1>Local Community Message Board</h1>
        <div id="signInForm"></div>
        
        <h2>Sign In</h2>
            <input type="text" id="usernameInput" placeholder="Username">
            <input type="password" id="passwordInput" placeholder="Password">
            <button id="signInButton">Sign In</button>
        </div>
        <ul id="taskList"></ul>
        <div class="center">
            <p>
            <a id="underLink" href="{{ url_for('signup') }}">Don't have an account? Create Account here</a>
            </p>
        </div>
    </div>

    <script src="../static/UWAscript2.js"></script>
</body>
</html>
