<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../static/scrapstyle.css" type="text/css" />
    <title>UWA Community Hub</title>
  </head>
  <body>
    <main>
      <div class="heading fixed_heading">
        <img
          src="../static/img/UWA University of Western Australia.png"
          alt="Community Logo"
          class="header-logo"
        />
        <h1>UWA Community Hub</h1>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    aria-current="page"
                    href="{{url_for('index')}}"
                    >Home</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('offers')}}">Offers</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('requests')}}"
                    >Requests</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>

      <!-- ---------------------------------------------------------------------------------------------------------------------- -->
      <div class="row">
        <div class="col-sm-3 article d-flex flex-column justify-content-center">
          <div class="circle-rectangle">
            <div class="row">
              <div class="col">
                <img
                  src="../static/img/profile.png"
                  class="bigCircle"
                  alt="user profile"
                  id="profilePic"
                />
              </div>
            </div>
            <div class="userRequest row">
              <div class="col">Teach me to bake a cake.</div>
              <div class="col-sm-3">
                <img
                  src="../static/img/tick.png"
                  class="circlesmall"
                  alt="chat symbol"
                  id="chatSign"
                />
              </div>
            </div>

            <div class="row userOffer">
              <div class="col">I can help debug Python files.</div>
              <div class="col-sm-3">
                <img
                  src="../static/img/tick.png"
                  class="circlesmall"
                  alt="chat symbol"
                  id="chatSign"
                />
              </div>
            </div>
            <div class="row userRequest">
              <div class="col">I need help fixing my doornob.</div>
              <div class="col-sm-3">
                <img
                  src="../static/img/tick.png"
                  class="circlesmall"
                  alt="chat symbol"
                  id="chatSign"
                />
              </div>
            </div>

            <div class="row userOffer">
              <div class="col">I can peer-review academic writing.</div>
              <div class="col-sm-3">
                <img
                  src="../static/img/tick.png"
                  class="circlesmall"
                  alt="chat symbol"
                  id="chatSign"
                />
              </div>
            </div>

            <div class="row userOffer">
              <div class="col-sm-9">Down to give advice on your resume!</div>
              <div class="col-sm-3">
                <img
                  src="../static/img/tick.png"
                  class="circlesmall"
                  alt="chat symbol"
                  id="chatSign"
                />
              </div>
            </div>

            <div class="row">
              <div class="col">
                <img
                  src="../static/img/plus.jpg"
                  class="circle"
                  alt="plus symbol"
                  id="plusSign"
                />
              </div>
            </div>
          </div>
        </div>
        <!-- ------------------------------------------------------------------------------------------------------------------ -->

        <div class="col-sm-9">
          <div class="article">
            <div class="image-with-textrequest">
              <p class="importantrequests">REQUESTS</p>
            </div>

            <div class="row table-responsive">
              <table class="table">
                <tbody>
                  <td>
                    <div class="tinypaddingrequests image-container">
                      <h3>GARDENING</h3>
                      <h5>subiaco</h5>
                      <p class="sub_articletext">
                        Can someone help me prune my bushes?
                      </p>
                      <br />
                      <div>
                        <button>accept</button>
                        <button>chat</button>
                      </div>
                    </div>
                  </td>

                  <td>
                    <div class="column tinypaddingrequests image-container">
                      <h3>REPAIRS</h3>
                      <h5>vic park</h5>
                      <p class="sub_articletext">
                        I need help fixing a ceiling leak.
                      </p>
                      <br />
                      <div>
                        <button>accept</button>
                        <button>chat</button>
                      </div>
                    </div>
                  </td>

                  <td>
                    <div class="column tinypaddingrequests image-container">
                      <h3>SOCIAL</h3>
                      <h5>subiaco</h5>
                      <p class="sub_articletext">
                        Just want to have a 30 minute chat with someone!
                      </p>
                      <br />
                      <div>
                        <button>accept</button>
                        <button>chat</button>
                      </div>
                    </div>
                  </td>

                  <td>
                    <div class="column tinypaddingrequests image-container">
                      <h3>SCHOOL</h3>
                      <h5>wembley</h5>
                      <p class="sub_articletext">
                        Chem is killing me right now, can someone walk me
                        through titration calculations?
                      </p>
                      <br />
                      <div>
                        <button>accept</button>
                        <button>chat</button>
                      </div>
                    </div>
                  </td>

                  <td>
                    <div class="column tinypaddingrequests image-container">
                      <h3>UNI</h3>
                      <h5>nedlands</h5>
                      <p class="sub_articletext">
                        I need someone to give me tips on how to structure my
                        snowflake schema.
                      </p>
                      <br />
                      <div>
                        <button>accept</button>
                        <button>chat</button>
                      </div>
                    </div>
                  </td>
                </tbody>
              </table>
            </div>
          </div>

          <!-- -------------------------------------------------------------------------------------------------------------------- -->

          <div class="article">
            <div class="image-with-textoffer">
              <p class="importantoffers">OFFERS</p>
            </div>

            <div class="row table-responsive scrollable">
              <table class="table">
                <tbody>
                  <td>
                    <div class="column tinypaddingoffers image-container">
                      <h3>NEW CATEGORY</h3>
                      <h5>location</h5>
                      <p class="sub_articletext">
                        Description of the new category.
                      </p>
                      <br />
                      <div>
                        <button>accept</button>
                        <button>chat</button>
                      </div>
                    </div>
                  </td>

                  <td>
                    <div class="column tinypaddingoffers image-container">
                      <h3>REPAIRS</h3>
                      <h5>vic park</h5>
                      <p class="sub_articletext">
                        I'm happy to help with any plumbing issues.
                      </p>
                      <br />
                      <div>
                        <button>accept</button>
                        <button>chat</button>
                      </div>
                    </div>
                  </td>

                  <td>
                    <div class="column tinypaddingoffers image-container">
                      <h3>SOCIAL</h3>
                      <h5>subiaco</h5>
                      <p class="sub_articletext">
                        Always down for a coffee chat!
                      </p>
                      <br />
                      <div>
                        <button>accept</button>
                        <button>chat</button>
                      </div>
                    </div>
                  </td>

                  <td>
                    <div class="column tinypaddingoffers image-container">
                      <h3>SCHOOL</h3>
                      <h5>wembley</h5>
                      <p class="sub_articletext">I tutor Grade 10 Socials.</p>
                      <br />
                      <div>
                        <button>accept</button>
                        <button>chat</button>
                      </div>
                    </div>
                  </td>

                  <td>
                    <div class="column tinypaddingoffers image-container">
                      <h3>UNI</h3>
                      <h5>nedlands</h5>
                      <p class="sub_articletext">
                        Happy to peer review uni essays.
                      </p>
                      <br />
                      <div>
                        <button>accept</button>
                        <button>chat</button>
                      </div>
                    </div>
                  </td>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="heading">
        <p class="bottom">Explore Local Community Hub</p>
        <hr id="hr_bottom" />
        <p class="subheading">
          Terms of Use | About Local Community Hub | Help | Privacy Policy |
          Advertise with us
        </p>
        <p class="tinyarticletext">
          Copyright 2024 Local Community Hub. The Local Community Hub is not
          responsible for the content of external sites.
        </p>
      </div>
    </main>
  </body>
</html>
