{% extends "base.html" %} {% block content %}
<div class="container form-container">
  <form action="" method="post" class="col-sm-12 col-lg-9 col-md-10">
    {{ form.hidden_tag()}}
    <div class="row">
      <div class="mb-3">
        {{ form.type.label }}
        <div class="inputdescription">
          Select Offer to volunteer a service of yours, and select Request to
          ask for a service from the community!
        </div>
        {{ form.type(class="form-select", onchange="changeColor(this)") }}
      </div>
    </div>
    <div class="row">
      <div class="mb-3">
        {{ form.category.label }}
        <div class="inputdescription">
          Provide the theme or category that best describes your offer or
          request. One or two words only please. Popular examples include
          social, uni work, repairs, teaching, learning, and outdoors.
        </div>
        {{ form.category(class="form-control") }}
      </div>
    </div>
    <div class="row">
      <div class="mb-3">
        {{ form.description.label }}
        <div class="inputdescription">
          Describe your offer or request in further detail. What is it, how much
          time do you need/can you give, and where would the task be
          accomplished? Keep it succinct, remember, anyone who accepts your
          offer or request will email you or you can email them, so you can
          share more details at that point!
        </div>
        {{ form.description(class="form-control") }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 mb-3">{{ form.submit(class="submit-btn") }}</div>
    </div>
  </form>
</div>
<script src="../static/form_script.js"></script>
{% endblock %}
