{% extends "base.html" %} {% block content %}
<body class="requestpage">
  <div class="heading fixed_heading">
    <img
      src="../static/img/UWA University of Western Australia.png"
      alt="Community Logo"
      class="header-logo"
    />
    <h1>UWA Community Hub</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('index')}}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('offers')}}">Offers</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{{url_for('requests')}}"
                >Requests</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <div class="container mx-auto row searchbaroffer">
    Search bar can go here Theresa!
  </div>

  <div class="container mx-auto row p-3 my-3 article2">
    <div class="container">
      <div class="row justify-content-start">
        {% for request in requests %}
        <div class="col-lg-3 col-md-4 col-sm-6 g-3">
          <div
            class="p-4 h-100 text-center d-flex flex-column justify-content-around tinypaddingrequests"
          >
            <div class="h4 fw-semibold text-uppercase">
              {{ request.category }}
            </div>
            <p class="fs-6 fst-italic text-start sans-serif text-center">
              {{ request.description }}
            </p>
            <button
              type="button"
              id="requestacceptbtn"
              class="btn btn-light btn-sm"
            >
              accept
            </button>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</body>
{% endblock %}
