{% extends "base.html" %} {% block content %} {% include 'navbar.html' %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/requests.css') }}" type="text/css" />

<div class="container mx-auto row searchbar">
  <form>
    <div class="input-group mx-auto py-3">
      <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="search-button"
        style="border-radius: 50px" />
    </div>
  </form>
</div>

<div class="container row mx-auto p-3 my-3 article justify-content-center">
  <div class="row justify-content-start" id="itemlist">
    <!-- List of items will be rendered here -->
  </div>
</div>

<script src="../static/js/search.js"></script>
<script src="../static/js/accept_activity.js"></script>
{% endblock %}