<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UWA Community Hub</title>
    <link rel="stylesheet" href="../static/UWAstyles2.css">
</head>
<body>
    <div class="container">
        <img src="../static/img/UWA University of Western Australia.png" alt="Logo" id="logo" width="200px" class="center">
        <h1>Local Community Message Board</h1>
        <form id="authForm" action="/signup" method="POST">
            <h2>Create Account</h2>
            <input type="text" name="username" placeholder="Username" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit" id="signupButton">Sign Up</button>
        </form>
    </div>
    <script src="../static/UWAscript2.js"></script>
</body>
</html>