{% extends "base.html" %} {% block content %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/login_signup.css') }}"
/>

<div class="outercontainter">
  <div class="container">
    <img
      src="../static/img/UWA%20University%20of%20Western%20Australia.png"
      alt="Logo"
      id="logo"
      ,
      width="200px"
      ,
      class="center"
    />
    <h1>UWA COMMUNITY HUB</h1>
    <br />
    <div id="authForm"></div>
    <h2>Create Account</h2>
    <form action="" method="post">
      {{ form.hidden_tag() }}
      <p>{{ form.username(size=32, placeholder="Username")}}</p>
      {% if form.username.errors %}
      <ul>
        {% for error in form.username.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      <p>{{ form.email(size=64, placeholder="Email") }}</p>
      {% if form.email.errors %}
      <ul>
        {% for error in form.email.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      <p>{{ form.password(size=32, placeholder="Password") }}</p>
      {% if form.password.errors %}
      <ul>
        {% for error in form.password.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      <p>{{ form.password2(size=32, placeholder="Confirm Password") }}</p>
      {% if form.password2.errors %}
      <ul>
        {% for error in form.password2.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      <p>{{ form.submit() }}</p>
    </form>
    <p>
      <a id="underLink" href="{{ url_for('login') }}"
        >Already have an account? Sign In here</a
      >
    </p>
  </div>
</div>
{% endblock %}
