{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Local Community Message Board</title>
    <link rel="stylesheet" href="../static/UWAstyles2.css">
</head>
<body>
    <div class="container">
        <img src="../static/img/UWA University of Western Australia.png" alt="Logo" id="logo", width="200px", class="center">
        <h1>Local Community Message Board</h1>
        <div id="authForm"></div>
            <h2>Create Account</h2>
            <form method="POST" action="">
            
            {{ form.hidden_tag() }}
            {{ form.username }}
            {{ form.email }}
            {{ form.password }}
            <input type="password" id="confirmPasswordInput" placeholder="Confirm Password">
            {{ form.submit }}
            <p>
                <a id="underLink" href="{{ url_for('login') }}">Already have an account? Sign In here</a>
            </p>
            
            </form>
        </div>
    </div>
    
    <script src="../static/UWAscript2.js"></script>
</body>
</html>
{% endblock %}